<html lang="en" xmlns:layout="http://www.thymeleaf.org" layout:decorate="layouts/main">
<div layout:fragment="content">
    <h1>Products details</h1>
    <div>
        <p>Product Name: <span th:text="${product.name}"></span></p>
        <p>Product Price: <span th:text="${product.price}"></span></p>
        <p>Product Category:</p>
        <ul>
            <li th:each="category : ${product.categories}" th:text="${category.name}"></li>
        </ul>
        <p>Product Quantity: <span th:text="${product.quantity}"></span></p>
    </div>
</div>
</html>